.container {
  min-height: 100vh;
  background-color: white;
  padding: 20px;
}
:global(.ant-tree-title > span > :nth-child(2))  {
  margin-left: auto;
}
:global(.ant-tree-title > span > span:nth-child(1))  {
  text-align: center;
}
:global(.ant-tree-title > span > button)  {
  font-size: 15px;
}
:global(.ant-tree-title > span > button:hover)  {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.title-render {
  display: inline-flex;
  margin-left: auto;
  width: 97%;
}
.searched-title {
  background-color: rgb(255, 166, 49);
}