.container {
  min-height: calc(100vh - 64px);
  background-color: white;
  padding: 20px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
:global(.ant-tree-title > span > :nth-child(2)) {
  margin-left: auto;
}
:global(.ant-tree-title > span > span > button) {
  font-size: 15px;
}
:global(.ant-tree-title > span > span:nth-child(2) > button:hover) {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
:global(span.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal) {
  white-space: nowrap;
}
:global(span.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-open) {
  white-space: nowrap;
}
:global(.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-close) {
  white-space: nowrap;
}
.title-render {
  display: inline-flex;
  margin-left: auto;
  width: 98%;
}
.title-render span:nth-child(2) {
  visibility: hidden;
}
.title-render:hover span:nth-child(2) {
  visibility: visible;
}
.searched-title {
  background-color: rgb(255, 166, 49);
}
.close-button {
  padding: 0px 6px 0px 6px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}