.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 20px;
  gap: 20px;
}
.calendar-wrapper {
  height: 30vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reminder-container {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}