.body {
  display: flex;
  flex-direction: column;
  margin: 0px 16px 16px 16px;
  background-color: #f5f5f5;
}
:global(#root > div > main.ant-layout-content > div > div[class*="body"]) {
  background-color: #f5f5f5;
}
:global(.ant-pagination) {
  margin-top: 20px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0px 16px 0px 16px;
  margin-bottom: 16px;
}
.input {
  height: 80%;
  width: 20%;
}